.posts
    padding 6rem
    padding-right 5rem

    +tablet()
        padding 9rem
        padding-right 8rem

    +desktop()
        padding 15rem
        padding-right 14rem

    &__item
        width 100%
        margin-bottom 6rem

        +tablet()
            width 46%
            float left
            margin-right 2%

        +desktop()
            width 47%

        &:nth-of-type(2n)
            +tablet()
                float right
                margin 0

        &:last-of-type
            margin-bottom 0

            +tablet()
                padding-bottom 8rem
