// Font faces
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i|Playfair+Display:700');

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i|Crimson+Text:700');
