.slick
    &-arrow
        position absolute
        z-index 100
        top 0
        height 100%
        width 25%
        border 0
        outline none
        background transparent
        text-indent 9999px

        +desktop()
            width 30%
            left 50%


        &:hover:not(.slick-disabled)
            cursor pointer

            +desktop()
                background url(../images/arrow.png) no-repeat right center
                background-size 9rem


    &-disabled
        pointer-events none

    &-next
        right 0

        +desktop()
            right 50%

    &-prev
        left 0

        +desktop()
            left 50%
            transform scaleX(-1) translateX(100%)

    &-slider
        height 100%

    &-list
        // display flex
        // align-items center
        height 100%
    //
    &-track
        height 100%

    &-slide
        height 100%
        outline none

        img
            display block
            max-width 100%
            height auto
            width auto
            max-width 100%
            margin auto

            &:hover
                cursor auto
