.post
    &__thumbnail
        margin-bottom 1.5rem

    &__header
        margin-bottom 1.5rem

    &__body
        display none

.post--photo
    .post
        &__header
            margin-bottom 1rem

            &:hover
                cursor pointer

        &__thumbnail
            margin 0

            pointer-events none


        &--zoomed
            position fixed
            z-index 200
            top 0
            left 0
            width 100vw
            height 100vh
            padding 3rem
            margin-bottom 0rem
            background-color rgba($c-white, 0.9)

            .post__thumbnail
                position absolute
                object-fit contain
                top 50%
                left 50%
                width auto
                max-width calc(100% - 6rem)
                max-height calc(100% - 6rem)
                transform translate(-50%, -50%)
                margin 0

.post--gallery
    .post
        &__header
            position relative
            margin-bottom 1rem

        &__footer
            clear both

        &__carousel
            width 100%
            display flex
            flex-direction row
            flex-wrap wrap
            align-items flex-start
            justify-content space-between
            margin-bottom 1.5rem

            &__btn
                align-self stretch
                display block
                width calc(50% - 0.5rem)
                padding 0 1rem

        &__thumbnail
            margin 0
            display none

            &:hover
                cursor pointer

            &:first-of-type
                display block
                margin-bottom 1rem

            &:nth-of-type(2)
                float left
                display block
                width calc(50% - 0.5rem)
                // margin-right 1rem
        // &__carousel
        //     display none
