extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    section.posts
        article.posts__item.post.post--text
            div.post__inner
                div.post__header
                    img(src="http://via.placeholder.com/800x600").post__thumbnail
                    h2.heading-2.post__title Luditales
                    div.post__heading.rte
                        p Création et développement d'un site vitrine d’une entreprise fictive porteuse d’un projet d’application de création et diffusion d’histoires interactives.
                div.post__body.rte
                    p Oh no way! Take a squiz, this beached as holden is as epic as a stuffed hongi. #[strong Mean while, in Hamilton, Fred Dagg and Rhys Darby were up to no good with a bunch of paru quater-acre patchs].
                    p The crook force of his #[i frying up was on par with Manus Morissette]'s beaut kiwiburger. Put the jug on will you bro, all these sweet old man's beards can wait till later.
                    img(src="http://via.placeholder.com/350x150")
                    p The first prize for pashing goes to... Hairy Maclary from Donaldson's Dairy and his mean as marmite shortage, what a sad guy. How's ya father. #[a(href='#') Bro, mince pies are really bloody good] with fully sick rugby balls, aye. Fair suck of the sav. You have no idea how rough as guts our stoked Silver Ferns were aye.
                div.post__footer
                    a(href="#" target="_blank").post__link Découvrir le projet

        article.posts__item.post.post--photo.js-post-photo
            div.post__inner
                div.post__header.js-post-thumbnail
                    img.post__thumbnail(src="http://via.placeholder.com/600x800")
                div.post__footer.rte.rte--no-img
                    p Oh no way! Take a squiz! #[a(href="#") as epic].

        article.posts__item.post.post--photo.js-post-photo
            div.post__inner
                div.post__header.js-post-thumbnail
                    img.post__thumbnail(src="http://via.placeholder.com/1600x800")
                div.post__footer.rte.rte--no-img
                    p Oh no way! Take a squiz! #[a(href="#") as epic].

        article.posts__item.post.post--photo.js-post-photo
            div.post__inner
                div.post__header.js-post-thumbnail
                    img.post__thumbnail(src="http://via.placeholder.com/800x800")
                div.post__footer.rte.rte--no-img
                    p Oh no way! Take a squiz! #[a(href="#") as epic].

        article.posts__item.post.post--gallery.js-post-carousel
            div.post__inner
                div.post__header
                    div.post__carousel
                        img.post__thumbnail.js-post-thumbnail(src="http://via.placeholder.com/600x800")
                        img.post__thumbnail.js-post-thumbnail(src="http://via.placeholder.com/800x600" alt="Owl Image")
                        img.post__thumbnail.js-post-thumbnail(src="http://via.placeholder.com/600X800" alt="Owl Image")
                        button.btn.post__link.post__carousel__btn Voir plus
                div.post__footer.rte.rte--no-img
                    p Oh no way! Take a squiz! #[a(href="#") as epic].
            //- div.post__carousel
            //-     div.item
            //-         img(src="http://via.placeholder.com/350x750" alt="Owl Image")
            //-         img(src="http://via.placeholder.com/350x150" alt="Owl Image")
            //-         //img(src="http://via.placeholder.com/350x150" alt="Owl Image")
