.heading-1
    font-secondary()
    black()
    font-size $size-super-larger

.heading-2
    font-secondary()
    black()
    font-size $size-super-large

.heading-3
    font-secondary()
    black()
    italic()
    font-size $size-larger

.teasing-1
    font-primary()
    light()
    font-size $size-large

.teasing-2
    font-primary()
    regular()
    upper()
    font-size $size-smaller

.text
    font-primary()
    regular()
    font-size $size-regular
    line-height 1.8

.bold
    bold()

.header
    &, &__btn, &__title
        font-secondary()
        font-size $size-medium - 0.2rem

        +tablet()
            font-size $size-medium

    &__menu
        font-size $size-large - 0.2rem

        +tablet()
            font-size $size-large


.logo
    font-secondary()
    black()
    font-size $size-medium

.menu
    .is-active
        bold()

.copyright
    font-primary()
    regular()
    font-size $size-super-tiny
